<section id="home">

	<div class="row">

		<div class="col-md-12">
			<h1>Make {########} great again</h1>
		</div>

	 	<div class="col-md-6">
	 		<form class="form-inline">
	 			<div class="form-group has-feedback" ng-class="{'has-error': inputError}" ng-dirty="">
					<label for="numberOfThings" class="control-label">How many things would you like to make great again?</label>
					
					<input 
						id="numberOfThings"
						required
						ng-required="true" 
						class="form-control" 
						type="number" 
						min="{{ minNumberOfThings }}" 
						max="{{ maxNumberOfThings }}"  
						ng-model="numberOfThings"
						ng-change="validateInput()">
					
					<!-- Error icon -->
					<span 
						ng-if="inputError" 
						class="glyphicon glyphicon-remove form-control-feedback" 
						aria-hidden="true">
					</span>
				</div>
			</form>
		</div>

		<div class="col-md-6">
			<button class="btn" ng-click="getUngreatThings()">Make things great</button>
		</div>
	 	
	 	<div class="col-md-12">
	 		<div id="tweet"></div>

		 	<div ng-repeat="(key, value) in ungreatThings">
		 		<p>Make <a href="http://en.wikipedia.org/?curid={{ key }}" title="ungreatThings[key].title">{{ ungreatThings[key].title }}</a> great again!</p>
		 	</div>
		</div>

	</div>

</section>